	<% if flash[:notice] %>
		<div class="alert alert-success">
			<%= flash[:notice] %>		
		</div>
	<% end %>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descricao</th>
				<th>Preco</th>
			</tr>
		</thead>		
		<tbody>
			<%= render @produtos_nome %>
		</tbody>
	</table>
	<br>
	<br>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Descricao</th>
				<th>Preco</th>
			</tr>
		</thead>		
		<tbody>
			<%= render @produtos_preco %>
		</tbody>
	</table>

	<%= link_to "Novo Produto", new_produto_path, class: "btn btn-primary" %>
